.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  align-self: stretch;
}
.title {
  font-size: 32px;
  font-weight: 900;
}
.image {
  width: 100%;
  object-fit: cover;
}
.hr {
  background-color: black;
  height: 1px;
  width: 100%;
}
