.swiper-wrapper {
  width: 100%;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  top: 50vh;
  right: 7px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.swiper-pagination-bullet {
  background-color: #000000;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  right: -3px;
  position: relative;
}
.swiper-slide {
  padding: 58px 0px;
}
.secondSwiper {
  width: calc(100% - 80px);
}
.secondSwiper .swiper-button-prev {
  left: 10px;
  top: 95%;
  z-index: 51;
}
.secondSwiper .swiper-button-next {
  top: 95%;
  right: 20px;
  z-index: 51;
}
.secondSwiper .swiper-button-next:after,
.secondSwiper .swiper-button-prev:after {
  color: #000000;
}
.secondSwiper .swiper-button-prev:after {
  content: '↼';
}
.secondSwiper .swiper-button-next:after {
  content: '⇀';
}
