.headerMenu {
  display: flex;
  align-items: center;
}
.menuList {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 100px 25px 25px 25px;
  gap: 25px;
  background-color: #ffffff;
  overflow: auto;
  transition: all 0.5s ease;
}
.menuItem {
  font-size: 24px;
  color: #ffffff;
  margin: 0px 15px;
  transition: all 1s ease;
}
.menuIcon {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 5;
  transition: all 1s ease;
}

.menuIcon span,
.menuIcon::before,
.menuIcon::after {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  left: 0;
  transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease,
    bottom 0.5s ease, background-color 1s ease;
  position: absolute;
}

.black.menuIcon span,
.black.menuIcon::before,
.black.menuIcon::after {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  left: 0;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease,
    bottom 0.5s ease, background-color 1s ease;
}

.black .menuItem {
  color: #000000;
}

.menuIcon::before,
.menuIcon::after {
  content: '';
}
.menuIcon::before {
  top: 5px;
}
.menuIcon::after {
  bottom: 6px;
}
.menuIcon span {
  top: calc(50% - 1.5px);
}
.active .menuIcon::after {
  background-color: #000000;
  transform: rotate(-45deg);
  bottom: 14px;
}
.active .menuIcon::before {
  transform: rotate(45deg);
  top: 13px;
  background-color: #000000;
}
.active .menuIcon span {
  opacity: 0;
}
.active .menuList {
  top: 0;
}
.active .menuItem {
  color: #000000;
}
@media (min-width: 767.98px) {
  .menuIcon {
    display: none;
  }
  .menuList {
    flex-direction: row;
    position: static;
    padding: 0;
    background-color: transparent;
    overflow: clip;
    gap: 0;
  }
}
.basket {
  position: relative;
}
.basket::after {
  content: attr(counter);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  top: 20px;
  right: -12px;
  font-size: 13px;
}
