.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header::before {
  content: '';
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  z-index: 2;
  height: 57.5px;
  box-shadow: 0 0 12px #000000;
  transition: all 0.5s ease;
}
.active.header::before {
  background-color: rgba(255, 255, 255, 1);
}
.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
